input{
    text-transform: capitalize;
}

.email{
    text-transform: lowercase;
}

.UF{
    text-transform: uppercase;
}


option{
    align-self: center;
}

.form-sublabel {
    font-size: 0.8rem !important;
    font-style: italic;
    color: darkgrey;
    padding-left: 6px;
    display: inline-block;
}

.imagem-perfil {
    
}

.imagem-perfil img {
    bottom: 0;
    max-width: 150px;
    width: auto;
    max-height: 150px;
    height: 100%;
    border-radius: 75px;
}